/* -------------------------SHAWN GARDNERS CSS SECTION START-------------------------
*@ we should all this "ONE" css file for all sections.
*@ you should format it as such (<name> css section start) then at the end of your css
* place (<name> css section end) so that you know where your section is to style your page.
* Do your best to comment your code for understanding, and do not adjust someones code
*without reaching out with them first
**/
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --light: white;
    --dark: black;
    --highlight1: grey;
    --highlight2: rgb(77, 77, 77);
    --highlight3: rgb(59, 59, 59);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inria Serif", serif;
}

.between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* ---------------------HOME PAGE SET UP--------------------- */
.home, 
.info_containeerz,
.trend{
    position: relative;
    height: 100svh;
    width: 100%;
}
.info_containeerz{
    height: 190svh;
}

/* ---------------------HEADER SET UP--------------------- */
header{
    position: relative;
    height: 10%;
    width: 100%;
}

.signbx{
    cursor: pointer;
}

.head_details{
    height: 100%;
    width: 100%;/* 
    background-color: var(--highlight1); */
}
.right_header_bar{
    width: 25%;/* 
    background-color: var(--highlight2); */
    padding-right: 20px;
}
.right_fir_header_bar{
    width: 29%;/* 
    background-color: var(--light); */
}
.right_fir_header_bar_flag{
    width: 60%;/* 
    background-color: var(--highlight3); */
}
.right_sec_header_bar{
    width: 37%;
}
.search{
    background-color: var(--light);
    width: 29%;
    background-color: rgba(151, 151, 151, 0.12);
}
.search input{
    border: none;
    width: 94%;
    background-color: transparent;
    outline: none;
}
/* Article Home slider */
.slider_main{
    position: relative;
    height: 30%;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
}
.slider_main::-webkit-scrollbar{
    display: none;
}
#previouse{
    position: absolute;
    left: 2%;
    top: 23%;
    transform: translate(-10%, -23%);
    z-index: 10;
}
#next{
    position: absolute;
    right: 2%;
    top: 23%;
    transform: translate(-10%, -23%);
    z-index: 10;
}

/* Article Sliders */
.slide1,
.slide2,
.slide3,
.slide4,
.slide5
{
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    background-color: var(--highlight1);
    scroll-snap-align: start;
}
.slide1{
    overflow: hidden;
    background: linear-gradient(180deg, rgb(38, 174, 237), rgb(47, 187, 225), rgb(47, 187, 225), rgb(53, 157, 205), rgb(80, 177, 222));
}
.slide1 img:nth-child(1){
    position: absolute;
    z-index: 3;
    left: 45%;
}
.slide1 img:nth-child(2){
    position: absolute;
    top: 23%;
    left: 36%;
    z-index: 2;
}
.slide1 img:nth-child(3){
    position: absolute;
    top: 50%;
    left: 23%;
    z-index: 2;
    opacity: 0.8;
}
.slide1 img:nth-child(4){
    position: absolute;
    top: 50%;
    left: 52%;
    z-index: 2;
    opacity: 0.8;
}
.slide1 h1{
    position: absolute;
    top: 0;
    left: 35%;
    color: var(--light);
}
#line{
    margin-top: 9rem;
    color: rgb(89, 233, 255);
    z-index: 1;
}


.slide2{
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, 
    rgba(80, 200, 120, 1) 0%,  /* Light emerald green */
    rgba(70, 180, 110, 1) 25%, /* Medium emerald green */
    rgba(60, 160, 100, 1) 50%, /* Emerald green */
    rgba(50, 140, 90, 1) 75%,  /* Dark emerald green */
    rgba(40, 120, 80, 1) 100%  /* Deep emerald green */
);
}
.slide2 h1{
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
    top: 25%;
    z-index: 1;
    font-weight: bolder;
    font-size: 4.2rem;
    -webkit-box-reflect: below 38px linear-gradient(transparent, rgba(255, 255, 255, 0.264));
    border-bottom: 1px solid rgb(97, 205, 92);
    color: var(--light);
}


.slide2 img:nth-child(1){
    top: 1%;
    right: 50%;
    scale: -1;
}
.slide2 img:nth-child(2){
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.slide2 img:nth-child(3){
    position: absolute;
    top: 1%;
    right: 0%;
    transform: scaleX(-1);
    transform: scaleY(-1);
}










.slide3{
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, 
    rgba(255, 90, 54, 1) 0%,     
    rgba(235, 47, 6, 1) 20%,   
    rgba(200, 30, 30, 1) 40%, 
    rgba(150, 20, 20, 1) 60%, 
    rgb(155, 21, 21) 80%,   
    rgb(123, 15, 15) 100%  
);
color: var(--light);
}




#line3{
    margin-top: 93px;
    color: rgb(254, 147, 147);
    z-index: 1;
}

.slide3 img:nth-child(1){
    position: absolute;
    top: 9%;
    left: 42%;
    z-index: 2;
}
.slide3 img:nth-child(2){
    position: absolute;
    top: 9%;
    left: -2%;
    transform: scaleX(-1);
}
#thirdflow3{
    position: absolute;
    top: 9%;
    right: -2%;
}
.slide3 h1{
    font-size: 4rem;
}
.slide3 p{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -7%;
}




.bars{
    height: 60%;
    width: 100%;
}





.label_container2{
    height: 100%;
    width: 43%;
    background-color: black;
}

.label_container,
.label_container3{
    width: 28%;
    height: 100%;
    background-color: black;
}

.label_container{
    background: url("./img/dlight.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 12px 11px -5px rgba(0,0,0,0.57);
-webkit-box-shadow: 10px 12px 11px -5px rgba(0,0,0,0.57);
-moz-box-shadow: 10px 12px 11px -5px rgba(0,0,0,0.57);
    
}
.label_container2{
    background: url("./img/van.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 12px 11px -5px rgba(0,0,0,0.57);
    -webkit-box-shadow: 10px 12px 11px -5px rgba(0,0,0,0.57);
    -moz-box-shadow: 10px 12px 11px -5px rgba(0,0,0,0.57);
}
.label_container3{
    background: url("./img/swa.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 12px 11px -5px rgba(0,0,0,0.57);
    -webkit-box-shadow: 10px 12px 11px -5px rgba(0,0,0,0.57);
    -moz-box-shadow: 10px 12px 11px -5px rgba(0,0,0,0.57);
}




.info_containeerz h1{
    font-size: 4rem;
}




.another{
    position: relative;
    height: 100%;
    width: 30%;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}
.another_container{
    float: right;
    height: 100%;
    width: 69%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.node1{
    position: relative;
    height: 41%;
    width: 100%;
    background-color: aquamarine;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.401), rgba(0, 0, 0, 0.171)), url(./img/map.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.3rem;
}
.node1 div h1,
.node1 div h3{
    color: var(--light);
}
.node1 div h3{
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.node1 div h1{
    width: 20ch;
}

.node3{
    height: 47%;
    width: 100%;
    background-color: aquamarine;
    background: linear-gradient(34deg, rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.363)), url(./img/decre.jpg);
    background-position: center;
    background-size: cover;
}

.theme{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18%;
}
#moon, #sun{
    position: absolute;
}

/* 
slider for the bottom sect  */
.another_slider_list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
}
.another_slider_list img{
    width: 420px;
    height: 100%;
    object-fit: cover;
}

.another_slider_dots{
    position: absolute;
    bottom: 10px;
    color: var(--light);
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.another_slider_dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: var(--light);
    margin: 20px;
    border-radius: 20px;
}
.another_slider_dots li.active{
    width: 30px;
}

.trend_numbers{
    position: relative;
    height: 30svh;
    width: 100%;
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trend_numbers .trend_box_num{
    width: 20%;
    height: 67%;
    padding: 5px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(232, 232, 232, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);   
}
.num{
    color: rgb(79, 157, 0);
    font-weight: bolder;
}


.more_details{
    position: relative;
    height: 120svh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: inherit;
    overflow: hidden;
}
/* .details_bar{
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.details_bar div p{
    writing-mode: vertical-lr;
    color: var(--dark);
    font-weight: bold;
} */

/* USE LATER MAY BE WITHIN THE HEADER */
/* .detailss_light{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}
.detailss_light img{
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7))
          drop-shadow(0 0 20px rgba(0, 0, 0, 0.5))
          drop-shadow(0 0 30px rgba(0, 0, 0, 0.3));
    -webkit-box-reflect: below -50px 
    linear-gradient(transparent, rgba(0, 0, 0, 0.3)); 
} */


.details_card_outline, 
.details_card_outline1, 
.details_card_outline2, 
.details_card_outline3,
.details_card_outline4,
.details_card_outline5{
    width: 450px;
    height: 260px;
    background-color: black;
    left: 1%;
    top: 7%;
}
.details_card_outline{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.127), rgba(0, 0, 0, 0.099)), url("./img/emerald.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.details_card_outline1{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.127), rgba(0, 0, 0, 0.099)), url("./img/amethyst.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.details_card_outline2{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.127), rgba(0, 0, 0, 0.099)), url("./img/topz.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.details_card_outline4{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.127), rgba(0, 0, 0, 0.099)), url("./img/saphire.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.details_card_outline3{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.127), rgba(0, 0, 0, 0.099)), url("./img/ruby.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.details_card_outline5{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.127), rgba(0, 0, 0, 0.099)), url("./img/opal.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





.details_card_outline img{
    position: absolute;
    right: 0%;
    top: -23%;
}

.details_card_outline1{
    top: 50%;
}
.details_card_outline2{
    left: 34%;
    top: 7%;
}
.details_card_outline3{
    top: 50%;
    left: 34%;
}
.details_card_outline4{
    top: 7%;
    left: 67%;
}
.details_card_outline5{
    left: 67%;
    top: 50%;
}

.dtlcol{
    color: #19a45c; 
    background-image: linear-gradient(45deg, #19a45c 46%, #12ddf8 84%, #1efa7d 30%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
.dtlcol1{
    color: #c11ceb; 
    background-image: linear-gradient(45deg, #c11ceb 0%, #6f19b5 50%, #25007a 100%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
.dtlcol2{
    color: #fffce3; 
 background-image: linear-gradient(45deg, #dbc922 27%, #ded488 15%, #f6c011 74%); 
 background-clip: text; 
 -webkit-background-clip: text; 
 -webkit-text-fill-color: transparent; 
}
.dtlcol3{
    color: #d66565; 
    background-image: linear-gradient(45deg, #e63939 74%, #c22323 63%, #820000 91%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
.dtlcol4{
    color: #d66565; 
    background-image: linear-gradient(45deg, #39bee6 74%, #2363c2 63%, #003d82 91%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
.dtlcol5{
    color: #8324c2; 
    background-image: linear-gradient(135deg, #128291 54%, #00ff04 99%, #74e0a4 74%, #00818a 88%, #099512 86%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}


/* -------------------------FOOTER CREATION------------------------- */

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background: linear-gradient(34deg, rgb(0, 142, 88), rgb(0, 222, 170), rgb(0, 169, 220), rgb(0, 115, 255));
    border-radius: 100px;
    color: var(--light);
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
    flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }

.products-container{
    width: 100%;
    max-height: 150vh;
    display: grid;
    grid-template-columns: 340px 340px 340px 340px;
}
.products-container-card{
    position: relative;
    width: 340px;
    height: 400px;
    background-color: var(--dark);
}

.card_fund_tag{
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 50%;
    height: 10%;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
    background-image: linear-gradient(to top, #4481eb 0%, #00a0d5 100%);
}

.products-container-image{
    height: 78%;
    width: 100%;
    background-color: var(--light);
}
.products-container-title{
    height: 22%;
    width: 100%;
}


/* ---------------------PRODUCT PAGE START-------------------- */
.product_fron_page{
    height: 100svh;
    width: 100%;
}
.products_catalogue{
    height: 90svh;
    width: 100%;
}
.menu_options{
    height: 100%;
    width: 19%;
    float: left;
}
.prodlist_right{
    float: right;
    height: 100%;
    width: 80.3%;
    grid-template-columns: 287px 287px 287px 287px;
    background-color: #2f2f2f;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.del{
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    
}
.menue_bar_options{
    height: 100%;
    width: 100%;
    background-color: #0b0f0b;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.logoutbtn{
    height: 2.6rem;
    width: 100%;
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    border: 1px outset rgba(28,110,164,0.79);
border-radius: 0px 1px 0px 0px;
}


  /*-------------------------SHAWN GARDNERS CSS SECTION END------------------------- */


  /* ---------------------SIGN IN PAGE START-------------------- */
  .signinpage{
    height: 100svh;
    width: 100%;
    background-color:hsla(0,6%,19%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(0,0%,30%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(188,0%,19%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(0,0%,5%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(0,9%,6%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(0,2%,5%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(0,0%,22%,1) 0px, transparent 50%);
  }

 /*  .signinfoot{
    height: 16svh;
    width: 100%;
    bottom: 0%;
  } */
.form_gen_container{
    height: 100svh;
    width: 100%;
}
.form_container{
    height: 550px;
    width: 400px;
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(192, 192, 192, 0.13);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.form_container form{
    height: 100%;
    width: 100%;
}
.fcon{
    width: 100%;
}
.fcon label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.fcon input[type="text"], 
input[type="password"]{
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    color: #333;
    width: 350px;
    outline: none;
    margin-bottom: 40px;
}
.fbtn{
    width: 100%;
    margin-bottom: 40px;
}
.chpasslink{
    margin-bottom: 40px;
}


/* ---------------------REGISTER PAGE START-------------------- */
.register_page{
    height: 100svh;
    width: 100%;
    background-color:hsla(0,6%,19%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(0,0%,30%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(188,0%,19%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(0,0%,5%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(0,9%,6%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(0,2%,5%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(0,0%,22%,1) 0px, transparent 50%);
}
.register_container{
    height: 86%;
    width: 60%;
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(192, 192, 192, 0.13);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
#reg_btn{
    border: none;
    cursor: pointer;
    padding: 12px 36px;
    
}